<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../pages/dashboard/dashboard.html">
        <i class="mdi mdi-qrcode-scan menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Setup</span>
        <i class="menu-arrow"></i> 
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/customer-setup.html">Customer Setup</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/form-setup.html">Form Setup</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/project-setup.html">Project SetUp</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/role-setup.html">Role Setup</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/role-setup.html">User Setup</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/queue-setup.html">Queue SetUp</a></li>
          <li class="nav-item"> <a class="nav-link" href="../pages/setup/customer-project-queue.html">Customer Project Queue SetUp</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-account-cog"></i>
        <span class="menu-title">Claims</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#">HCFA DDE</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">UB DDE</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">ADA DDE</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Web Upload</a></li>
          </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-note-check-outline"></i>
        <span class="menu-title">Edit Claim</span>
      </a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-chart-timeline-variant"></i>
        <span class="menu-title">Claim Status</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-file-document-box"></i>
        <span class="menu-title">Re-Submission</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-eye-outline"></i>
        <span class="menu-title">Review</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-check-circle-outline"></i>
        <span class="menu-title">Approve</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-magnify"></i>
        <span class="menu-title">Claim Search</span>
      </a>
    </li>
    

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Fields</span>
      </a>
    </li>
    


    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="menu-icon mdi mdi-file-chart-outline"></i>
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="">Claim Summary Report</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Claim Volume Report</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Claim Status Report</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Claim Aging Report</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Payment Ack Summary Report</a></li>
        </ul>
      </div>
    </li>
    
  </ul>
</nav>